In [1]:
# import library and data
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.read_csv(r'/Users/r1121/Desktop/CF/11-2023Food Price Project/Data/Original/food_price_global.csv')

In [3]:
df.head()

,_id,country,iso3,label,baseline_local,local_price,variation_local,local_currency,local_range,Date
0,1,Isle Of Man,IMN,Bread and other bakers wares (1kg),2.80,2.89,3.21,£,1.61-3.99,2020-07-19T00:00:00
1,2,Marshall Islands,MHL,"Meat of chickens, fresh or chilled (1kg)",4.45,4.45,0.00,$,4.41-4.5,2020-07-19T00:00:00
2,3,Timor-Leste,TLS,Rice (1kg),1.88,1.92,2.13,$,0.75-3,2020-07-19T00:00:00
3,4,Burkina Faso,BFA,Potatoes (1kg),682.00,682.00,0.00,CFA,600.01-763.99,2020-07-19T00:00:00
4,5,Angola,AGO,"Meat of cattle, fresh or chilled (1kg)",10.84,12.43,14.67,$,9.68-15.61,2020-07-19T00:00:00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              50000 non-null  int64
 1   country          50000 non-null  object
 2   iso3             50000 non-null  object
 3   label            50000 non-null  object
 4   baseline_local   50000 non-null  float64
 5   local_price      50000 non-null  float64
 6   variation_local  50000 non-null  float64
 7   local_currency   50000 non-null  object
 8   local_range      50000 non-null  object
 9   Date             50000 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.8+ MB

In [5]:
# drop non-informative columns
df_drop = df.drop(columns = ['iso3'])

In [6]:
df_drop.columns

Index(['_id', 'country', 'label', 'baseline_local', 'local_price',
       'variation_local', 'local_currency', 'local_range', 'Date'],
      dtype='object')

In [7]:
# rename 'label' column
df_drop.rename(columns = {'label':'food_type'}, inplace = True)

In [8]:
df_drop.head()

,_id,country,food_type,baseline_local,local_price,variation_local,local_currency,local_range,Date
0,1,Isle Of Man,Bread and other bakers wares (1kg),2.80,2.89,3.21,£,1.61-3.99,2020-07-19T00:00:00
1,2,Marshall Islands,"Meat of chickens, fresh or chilled (1kg)",4.45,4.45,0.00,$,4.41-4.5,2020-07-19T00:00:00
2,3,Timor-Leste,Rice (1kg),1.88,1.92,2.13,$,0.75-3,2020-07-19T00:00:00
3,4,Burkina Faso,Potatoes (1kg),682.00,682.00,0.00,CFA,600.01-763.99,2020-07-19T00:00:00
4,5,Angola,"Meat of cattle, fresh or chilled (1kg)",10.84,12.43,14.67,$,9.68-15.61,2020-07-19T00:00:00

In [9]:
# extract date from 'Date'column.

df_drop['date'] = df_drop['Date'].str[:10]

In [10]:
df_drop.head()

,_id,country,food_type,baseline_local,local_price,variation_local,local_currency,local_range,Date,date
0,1,Isle Of Man,Bread and other bakers wares (1kg),2.80,2.89,3.21,£,1.61-3.99,2020-07-19T00:00:00,2020-07-19
1,2,Marshall Islands,"Meat of chickens, fresh or chilled (1kg)",4.45,4.45,0.00,$,4.41-4.5,2020-07-19T00:00:00,2020-07-19
2,3,Timor-Leste,Rice (1kg),1.88,1.92,2.13,$,0.75-3,2020-07-19T00:00:00,2020-07-19
3,4,Burkina Faso,Potatoes (1kg),682.00,682.00,0.00,CFA,600.01-763.99,2020-07-19T00:00:00,2020-07-19
4,5,Angola,"Meat of cattle, fresh or chilled (1kg)",10.84,12.43,14.67,$,9.68-15.61,2020-07-19T00:00:00,2020-07-19

In [11]:
# drop 'Date'column, and finish wrangle this data frame.

df_wrangled = df_drop.drop(columns = ['Date'])

In [12]:
df_wrangled.head()

,_id,country,food_type,baseline_local,local_price,variation_local,local_currency,local_range,date
0,1,Isle Of Man,Bread and other bakers wares (1kg),2.80,2.89,3.21,£,1.61-3.99,2020-07-19
1,2,Marshall Islands,"Meat of chickens, fresh or chilled (1kg)",4.45,4.45,0.00,$,4.41-4.5,2020-07-19
2,3,Timor-Leste,Rice (1kg),1.88,1.92,2.13,$,0.75-3,2020-07-19
3,4,Burkina Faso,Potatoes (1kg),682.00,682.00,0.00,CFA,600.01-763.99,2020-07-19
4,5,Angola,"Meat of cattle, fresh or chilled (1kg)",10.84,12.43,14.67,$,9.68-15.61,2020-07-19

# Data Consistency Checks

In [14]:
# check mixed data types

for col in df_wrangled.columns.tolist():
    weird = (df_wrangled[[col]].applymap(type) != df_wrangled[[col]].iloc[0].apply(type)).any(axis = 1)
if len (df_wrangled[weird]) > 0:
    print (col)
else:
    print ('No mixed data types')

No mixed data types

In [15]:
# check missing values
df_wrangled.isnull().sum()

_id                0
country            0
food_type          0
baseline_local     0
local_price        0
variation_local    0
local_currency     0
local_range        0
date               0
dtype: int64

In [16]:
# check duplicates
df_dups = df_wrangled[df_wrangled.duplicated()]

In [17]:
df_wrangled.shape

(50000, 9)

In [18]:
df_dups.shape

(0, 9)

# Export the clean data frame

In [19]:
df_wrangled.to_csv(r'/Users/r1121/Desktop/CF/11-2023Food Price Project/Data/Modified/food_price_global_clean.csv')